@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 15.69%;
    --muted: 210 4% 90.2%;
    --muted-foreground: 0 0% 50%;
    --popover: 207.27 44% 95.1%;
    --popover-foreground: 0 0% 15.69%;
    --card: 207.27 44% 95.1%;
    --card-foreground: 0 0% 15.69%;
    --border: 208.24 16.83% 80.2%;
    --input: 200 2.56% 77.06%;
    --primary: 216.32 100% 22.35%;
    --primary-foreground: 0 0% 97.65%;
    --secondary: 207.46 100% 27.84%;
    --secondary-foreground: 0 0% 97.65%;
    --accent: 201.96 100% 38.04%;
    --accent-foreground: 0 0% 97.65%;
    --destructive: 350.82 85.96% 55.29%;
    --destructive-foreground: 0 0% 97.65%;
    --ring: 203.53 80.95% 62.94%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5.26% 7.45%;
    --foreground: 240 50% 98.43%;
    --muted: 240 6.67% 26.47%;
    --muted-foreground: 240 4.96% 72.35%;
    --popover: 240 9.86% 13.92%;
    --popover-foreground: 240 50% 98.43%;
    --card: 240 9.86% 13.92%;
    --card-foreground: 240 50% 98.43%;
    --border: 240 9.75% 22.43%;
    --input: 240 9.57% 22.55%;
    --primary: 216.32 66.12% 25.93%;
    --primary-foreground: 240 50% 98.43%;
    --secondary: 204.46 51.24% 35.09%;
    --secondary-foreground: 0 0% 100%;
    --accent: 201.96 100% 33.46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 350.82 85.96% 55.29%;
    --destructive-foreground: 240 50% 98.43%;
    --ring: 216.14 67.34% 29.42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
